.notion-modal-closed {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 400px;
  left: 15px;
  border-radius: 2rem;
  z-index: 100000000000000000;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: 0.15s linear;
  opacity: 0;
}

.notion-modal {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 40px;
  left: 15px;
  border-radius: 2rem;
  z-index: 100000000000000000;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: 0.01s linear;
  opacity: 1;
}

.notion-modal h3 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 7px;
  color: black;
}

.cross {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 10px;
  right: 7px;
  cursor: pointer;
}

#close-cross-show {
  width: 10px;
}

#notion-connect-button {
  margin-top: 100px;
  opacity: 1;
  transition: 0.15s;
}

#notionPageTitle {
  width: 262px;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  font-size: 0.9rem;
}

#notionBulletPoint {
  width: 270px;
  margin: 5px;
  padding: 15px;
  border-radius: 2rem;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  font-size: 0.9rem;
  font-family: 'Helvetica';
}

#notion-submit-button {
  width: 150px;
  height: 45px;
  background-color: white;
  border-radius: 2rem;
  font-weight: bold;
}

.modal-dont-show {
  opacity: 0;
  transition: 0.05s;
}

.item-dont-show {
  visibility: hidden;
  transition: 0.05s linear;
}

.modal-show {
  opacity: 1;
  transition: 0.0s;
}

#close-cross-dont-show {
  width: 10px;
  opacity: 0;
  transition: 0.05s;
}
