#send-to-notion {
  /* border: 2px solid white; */
}


#notion-logo {
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}

#notion-logo:hover {
  opacity: 0.8;
}

#notion-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
}

#notion-form label {
  color: white;
  padding: 10px 20px;
  margin: 5px;
}
