.container {
  margin: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 1;
  width: 80%;
  z-index: 1000000000000;
}
.strip {
  width: 80%;
  height: 10%;
  background-color: white;
  margin-bottom: 15%;
  z-index: 1000000000000;
}
